{% extends 'base.html.twig' %}

{% block body %}

</br>
<div class="account_container">
    <div class="jumbotron">
        <h3>Welcome {{ user.username }} </h3>
        </br>
        {{ form_start(form_wall) }}
        {{ form_row(form_wall.username, {'label': 'Username'}) }}
        <hr class="my-4">
        {{ form_row(form_wall.descr, {'label': 'Description', 'required': false}) }}
        <small><a href="{{ path('change_password', {'id': app.user.id}) }}">Need to change password?</a>
        <hr class="my-4">
       
        {{ form_row(form_wall.languages)}}
        <hr class="my-4">
        {{ form_row(form_wall.submit, {'label': 'Modify'})}}
        {{ form_end(form_wall) }}
    </div>

    <div class="jumbotron">
        <h3>Here are you traducted projects </h3>
        </br>
        <hr class="my-4">
        <h3>Graphics </h3>
            <canvas id="myChart" width:"300" height:"100"></canvas>
    
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
            type: 'line',

            data: {
                labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                datasets: [{
                    label: "Number of projects",
                    
                    borderColor: 'rgb(255, 0, 0)',
                    data: [{{user.getNbProjects()}}, {{user.getNbProjects()}}, {{user.getNbProjects()}}, {{user.getNbProjects()}}],
                }]
            },
            options: {}
            }); 
        </script>
    </div>
    
</div> 

{% endblock %}